{% extends 'base.html' %}

{% block content %}
<div class="columns">
  <div class="sidebar column is-one-fifth">
    <div class="create">
      <a class="create_deck" href="{% url 'create_deck' %}">create a thing!</a>
    </div>
  </div>
  <div class=" dashboard column auto tile is-ancestor">
    <div class="decks tile is-parent">
      <div class="tile is-4 is-parent">
        <div class="deck tile is-child">
          <div class="deck-title">
            DECK TITLE
          </div>
          <div class="subject">
            DECK SUBJECT
          </div>
          <div class="deck-buttons">
            <button class="study">
              STUDY
            </button>
            <button class="edit">
              EDIT
            </button>
            <button class="quiz">
              quiz yo self
            </button>
            <button class="deck-delete has-text-danger">
              DELETE
            </button>
          </div>
        </div>
      </div>
      <div class="tile is-4 is-parent">
        <div class="deck tile is-child">
          <div class="deck-title">
            DECK TITLE
          </div>
          <div class="subject">
            DECK SUBJECT
          </div>
          <div class="deck-buttons">
            <button class="study">
              STUDY
            </button>
            <button class="edit">
              EDIT
            </button>
            <button class="quiz">
              quiz yo self
            </button>
            <button class="deck-delete has-text-danger">
              DELETE
            </button>
          </div>
        </div>
      </div>
      <div class="tile is-4 is-parent">
        <div class="deck tile is-child">
          <div class="deck-title">
            DECK TITLE
          </div>
          <div class="subject">
            DECK SUBJECT
          </div>
          <div class="deck-buttons">
            <button class="study">
              STUDY
            </button>
            <button class="edit">
              EDIT
            </button>
            <button class="quiz">
              quiz yo self
            </button>
            <button class="deck-delete has-text-danger">
              DELETE
            </button>
          </div>
        </div>
      </div>
      <div class="tile is-4 is-parent">
        <div class="deck tile is-child">
          <div class="deck-title">
            DECK TITLE
          </div>
          <div class="subject">
            DECK SUBJECT
          </div>
          <div class="deck-buttons">
            <button class="study">
              STUDY
            </button>
            <button class="edit">
              EDIT
            </button>
            <button class="quiz">
              quiz yo self
            </button>
            <button class="deck-delete has-text-danger">
              DELETE
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}