{% extends 'base.html' %} {% block content %}

<style>
    .hidden {
        display: none;
    }
</style>
<script>
    function flipCard() {
        var card = document.getElementById('card');
        if (card.innerHTML === 'Prompt') {
            card.innerHTML = 'Description!';
        } else {
            card.innerHTML = 'Prompt';
        }
        document.getElementById('button').classList.toggle("hidden")
    }

    function correctCard() {
        document.getElementById('correct').addEventListener('click', function(event) {
            event.preventDefault()

            let cardsCorrect = [];

            let correct = 0
            for (card of deck) {
                correct += 1
                cardsCorrect.push(card)
            }
        })
    }

    function incorrectCard() {
        document.getElementById('incorrect').addEventListener('click', function(event) {
            event.preventDefault()

            let cardsIncorrect = [];

            let incorrect = 0
            for (card of deck) {
                incorrect += 1
                cardsIncorrect.push(card)
            }

        })
    }
</script>

<div class="header_quiz">
    <h2>Quiz</h2>
</div>


<p id='card' onclick="flipCard()">Prompt</p>
<div class="hidden" id="button">
    <button>Correct</button>
    <button>Incorrect</button>
</div>


<!-- <div class="body_quiz">
    <div class="card">
        <div class="front">
            <div id="body_front">
                <div class="card_prompt">Prompt</div>
            </div>
        </div>
        <div class="back">
            <div id="body_back">
                <div class="card_description">Description</div>
            </div>
        </div>
    </div>
</div> -->

{% endblock %}