{% extends 'base.html'%} {% load static %} {% block content %} {{ deck.data|json_script:"data" }}

<div class="header_quiz">
    <h2>Quiz</h2>
</div>

<div class='scene'>
    <div class="stack">
        <div class="face prompt">
            
        </div>
        <div class="face description">
            <div class="description-text hidden">
                
            </div>
            <div class="quiz-buttons">
                <button id="correct">Correct</button>
                <button id="incorrect">Incorrect</button>
            </div>
        </div>
    </div>
</div>

<p id='card' onclick="flipCard(deck)"></p>

<script src="{% static 'quiz.js' %}" defer></script>
{% endblock %}