<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id='content' style='display:block;'>This is content</div>
    <div id="other" style="display: block;">Different stuff</div>
    <script type="text/javascript">
        function toggleContent() {
            var contentId = document.getElementById('content');
            contentId.style.display == "block" ? contentId.style.display = 'none' :
                contentId.style.display = 'block';
            var otherId = document.getElementById('other');
            otherId.style.display == "block" ? otherId.style.display = 'none' :
                otherId.style.display = 'block';
        }
    </script>
    <button onclick="toggleContent()">Toggle</button>
</body>

</html>