{% extends "base.html" %}
{% load static %}


{% block title %}
{{ deck.title }}
{% endblock %}

{% block content %}
<h2> Deck Title: {{ deck.title }} </h2>
<h3> Deck Subject: {{ deck.subject }} </h3>

<div class="create_card">
  <h2>Create Card:</h2>
  <form method="POST" id="actual_thing_we_want" data-deck_id={{deck.pk}}>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="create_button_foreal">Submit</button>
  </form>
</div>

<div class="cards_wrapper">
  <ul class="cards">
    <li class="individualCard">
      <div class="card-prompt">
      </div>
      <div class="card-description">
      </div>
    </li>
  </ul>
</div>

{% endblock %}