* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    background: palevioletred;
}

.is-size-2 {
  font-family: 'Fredoka One', cursive;
  color: white;
}

.sidebar{
  background:purple;
  color:white;
}

.columns {
    align-items: stretch;
    margin: 0
}

.column {
    margin: 0
}

.deck .eachCard {
    background: rgb(168, 233, 227);
    padding: 6px;
    margin-bottom: 5px;
    box-shadow: 2px 3px 9px 3px lightslategray;
    border-radius: 5px;
    margin-bottom: 5px;
}

.decks {
    flex-wrap: wrap;
}
.card {
    border-radius:2px;
    background:palegoldenrod;
}
.button {
    padding: 5px;
    height: 1.5rem;
    margin-top: .5rem;
}

.create_deck {
    font-family: 'Fredoka One', cursive;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.create_deck:hover {
    color: white;
    
}

.section .is-ancestor {
    flex-wrap: wrap;
    margin:0;
}
.column .is-ancestor {
  flex-wrap: wrap;
}

.hidden {
    display: none;
}

.line{
  border: 1px solid black;
}

.scene {
  width:300px;
  height:240px;
  border:1px solid #CCC;
  margin:40px 15px;
  perspective:600px;
}

.stack {
  width:100%;
  height:100%;
  transition: transform .5s;
  transform-style:preserve-3d;
  cursor:pointer;
  position:relative;
}

.stack.is-flipped{
  transform:rotateY(180deg);
}

.face {
  position:absolute;
  width: 100%;
  height:100%;
  text-align:center;
  backface-visibility: hidden;
}

.prompt {
  background:palegoldenrod;
}
.description {
  transform: rotateY(180deg);
  background: yellow;
}
