* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

.header{
  background:palevioletred;
}

.sidebar{
  background:purple;
  color:white;
}
.columns{
  align-items:stretch;
  margin:0
}
.column{
  margin:0
}
