* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

.header{
  background:palevioletred;
}

.sidebar{
  background:purple;
  color:white;
}
.columns{
  align-items:stretch;
  margin:0
}
.column{
  margin:0
}
.deck{
  background:rgb(168, 233, 227);
  padding:6px;
  margin-bottom:5px;
}
.decks{
  flex-wrap: wrap;
}

.is-child{
  box-shadow: 2px 3px 9px 3px lightslategray;
  border-radius: 5px;
  margin-bottom: 5px;
}


